<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <title>Play with socket.io</title>
</head>
<body>
  <div id="index-app">
    <h1>Play with Socket.io</h1>
    <div id="user-info" v-if="isLogin">
      <div>Username: {{ username }}</div>
      <div>RoomID: {{ roomId }}</div>
      <div id="chat-area">
        <div v-for="msg in messages" class="msg-cell">{{ msg }}</div>
      </div>
      <input v-model="inputMessage" id="input-msg" placeholder="input message" />
      <button id="send-btn" @click="sendMessage">send</button>
      <button id="quit" @click="logout">quit</button>
    </div>
    <div id="login" v-else>
      <input v-model="username" type="username" placeholder="username" />
      <input v-model="roomId" type="roomId" placeholder="roomid" />
      <button id="login-btn" @click="login">Login</button>
    </div>
  </div>
</body>

<script>
  let indexApp = new Vue({
    el: '#index-app',
    data: () => ({
      // param
      isLogin: false,
      // chat area
      messages: [],
      // input model
      username: '',
      roomId: '',
      inputMessage: '',
      // socket
      client: null
    }),
    methods: {

      login: function () {
        // connect to socket server
        this.client = new io('http://localhost:3000', {
          query: {
            username: this.username
          }
        });
        this.client.on('connect', () => {
          this.isLogin = true;
          // join the room
          this.joinRoom();
          console.log('join room ' + this.roomId);
          // add new msg to view
          this.client.on('msg', (msg) => {
            this.messages.push(msg);
            console.log('receive msg: ' + msg);
          });
          //
          this.client.on('disconnect', () => {
            if (this.isLogin === true) {
              console.log('server disconnected accidentally.')
              this.isLogin = false;
              delete this.client;
            }
          })
          console.log('server connected');
        })
      },

      joinRoom: function () {
        this.client.emit('join', this.roomId);
        console.log('join room ' + this.roomId);
      },

      sendMessage: function () {
        this.client.emit('msg', this.inputMessage);
        // this.messages.push(this.inputMessage);
        console.log('send msg');
      },

      leaveRoom: function () {
        this.client.emit('leave', this.roomId);
        console.log('user leave room');
      },

      logout: function () {
        this.leaveRoom();
        delete this.client;
        this.isLogin = false;
        console.log('server disconnected.')
      }
    }
  })
</script>
</html>